version: "3.8"

services:
  strapi:
    build: .
    container_name: pravesh-backend
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "6969:6969"
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules

  db:
    image: mysql:8.0
    container_name: pravesh-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: iiitnBX248
      MYSQL_DATABASE: pravesh
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
